body {
    font-family: Arial, sans-serif;
    background-color: rgba(238, 139, 139, 0.767);
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #031349;
    color: #fff;
    padding: 20px;
  }
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
   h1 {
    text-align: center;
    margin-top: 0;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  textarea {
    width: 100vw;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 7px;
    font-size: 14px;
    outline: none;
  }
  
  .button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 2px white;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    
   
  }
  .button:hover{
    background-color: rgb(170, 244, 244);
    
    
    
  }
