body {
    font-family: Arial, sans-serif;
   background-color: rgba(152, 131, 131, 0.767);
    margin: 0;
    padding: 0;
  }
  header {
    background-color:#031349;
    color: #fff;
    padding: 20px;
  }
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
   h1 {
    text-align: center;
    margin-top: 0;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
  }
  
  .button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }