:root {
    --primary-color: #050917;
    --secondary-color: rgba(152, 131, 131, 0.767);
    --accent-color: rgb(241, 149, 149);
    --hover-color: rgb(38, 158, 17);
    --text-color: #333333;
    --heading-font-size: 36px;
    --paragraph-font-size: 28px;
  }

  body {
    font-family: Arial, sans-serif;
    
    background-color: #89e2e6;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
  }

  header h1 {
    font-size: var(--heading-font-size);
    margin-bottom: 20px;
    color: white;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
   
    
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: var(--text-color);
    font-size: var(--heading-font-size);
  }
  p {
    color: var(--text-color);
    font-size: var(--paragraph-font-size);
    margin-bottom: 30px;
    text-align: center;
  }
  .homepage-content {
    text-align: center;
  }
  .homepage-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .homepage-buttons a {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 2px 3px 2px rgb(13, 139, 249);
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  
    transition: background-color 0.3s ease;
  }
  .homepage-buttons a:hover {
    background-color: var(--hover-color);
  }